@use "../../styles/abstracts";

.container {
  --grid-gutter-x: 0 !important;
  padding: 0 !important;
}

.hero-summary {
  position: relative;

  &__banner {
    width: 100%;
    height: auto;
    display: block;
  }

  &__desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__intro {
    font-size: 0.9rem;
    border-radius: 30px;
    padding: 5px 0;
    margin: 0 50px;
    color: rgb(29 62 29);
    background-color: rgb(182 224 182);

    @include abstracts.screen(sm) {
      font-size: 0.7rem;
      padding: 3px 0;
      margin: 0 35px;
    }
  }

  &__heading {
    margin: 14px 0;
    font-size: 3.8rem;
    font-weight: 600;
    color: white;

    @include abstracts.screen(lg) {
      font-size: 2.8rem;
    }

    @include abstracts.screen(sm) {
      font-size: 1.8rem;
    }
  }

  &__text {
    font-size: 2.2rem;
    color: #c8bbbb;
    margin-bottom: 20px;

    @include abstracts.screen(lg) {
      font-size: 1.2rem;
    }

    @include abstracts.screen(sm) {
      font-size: 0.9rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;

    @include abstracts.screen(sm) {
      display: none;
    }
  }

  &__list-item {
    font-size: 1.6rem;
    color: #f0e3e3;
    padding: 1px 0;

    @include abstracts.screen(lg) {
      font-size: 1rem;
    }

    @include abstracts.screen(sm) {
      font-size: 0.8rem;
    }
  }
}

.hero-summary__list-item::before {
  content: "✓";
  padding-right: 4px;
  display: inline-block;
}

.action-btn {
  padding: 6px 30px;
  font-size: 2.2rem;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: white;
    color: rgb(29 62 29);
  }

  @include abstracts.screen(lg) {
    font-size: 1.6rem;
    padding: 6px 20px;
  }

  @include abstracts.screen(sm) {
    font-size: 1.2rem;
    padding: 6px 20px;
  }
}

.step {
  background-color: rgb(245, 245, 239);

  &__number {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(142 177 125);
    margin-bottom: 10px;
    text-align: left;
    margin: 20px 0 0 20px;
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 50px 0 20px 20px;
    text-align: left;
    margin-left: 20px;
  }

  &__desc {
    font-size: 1rem;
    color: #555151;
    margin: 0 20px 20px 20px;
    text-align: left;
  }
}

.step img, .contact img {
  height: 400px;
  display: block;
  object-fit: cover;
}

.contact {
  background-color: rgb(245, 245, 239);

  &__heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 0 20px 20px;
    text-align: left;
    margin-left: 20px;
  }

  &__email,
  &__phone {
    font-size: 1rem;
    color: rgb(142, 177, 125);
    margin: 0 20px 10px 20px;
    padding: 10px 0;
    text-align: left;
  }

  &__info {
    font-size: 1rem;
    color: #555151;
    margin: 0 20px 10px 20px;
    padding: 10px 0;
    text-align: left;
  }
}
